.player-type-container {
    position: absolute;
    bottom: 20px;
    left: 90px;
}

.player-type {
    font-size: 90px;
    font-weight: bold;
}

p {
    font-family: sans-serif;
    margin-bottom: -20px;
}
